language: bash

os: linux
dist: bionic

sudo: false

env:
 - PATH=/usr/bin:/bin:./:/usr/local/bin

script:
 - openssl version
 - shellcheck --version
 - bash -c 'export SHELLCHECK_OPTS="-S warning -e SC2006"; shopt -s globstar; shellcheck **/*.sh easyrsa3/easyrsa'
 - sh -e op_test.sh
