# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  xtest:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      EASYRSA_BY_TINCANTECH: 1
      EASYRSA_REMOTE_CI: 1
      EASYRSA_NIX: 1
      TERM: xterm-256color
      EASYRSA_SILENT_SSL: 1

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: operational test
        run: sh op-test.sh -vv -sc -o3 -p

      # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #    run: |
      #      echo Add other actions to build,
      #      echo test, and deploy your project.
      # This workflow contains a single job called "build"

  wtest:
    # The type of runner that the job will run on
    runs-on: windows-latest

    env:
      EASYRSA_REMOTE_CI: 1
      EASYRSA_WIN: 1
      TERM: xterm-256color
      EASYRSA_SILENT_SSL: 1

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: cmd /c wop-test.bat

      # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #    run: |
      #      echo Add other actions to build,
      #      echo test, and deploy your project.

  mtest:
    # The type of runner that the job will run on
    runs-on: macos-latest

    env:
      EASYRSA_REMOTE_CI: 1
      # Limit run to RSA and EC only, Libre does not do ED
      #LIBRESSL_LIMIT: 1
      EASYRSA_MAC: 1
      TERM: xterm-256color
      EASYRSA_SILENT_SSL: 1

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: sh op-test.sh -v -p

      # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #    run: |
      #      echo Add other actions to build,
      #      echo test, and deploy your project.
